* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: monospace;
}

body {
  height: 100vh;
  background: #00ffea;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 12px 11px 20px #000000;
}

.inputSection > h1 {
  font-size: 2.3rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  margin: 2rem;
}

.input > input {
  font-size: 1.9rem;
  outline: none;
  margin: 0.5rem 0;
  max-width: 80%;
  padding: 0.4rem;
  border: 1px solid #000;
}

@media screen and (width<=510px) {
  .inputSection {
    padding: 2rem;
    width: 90vw;
  }

  #form {
    width: 90vw;
    margin: auto 0.5rem;
  }

  #container {
    width: 50vw;
    margin: auto;
  }
}
